<form
  [formGroup]="showingForm"
  (ngSubmit)="submitShowingForm()"
  class="showing-form"
>
  <mat-form-field>
    <mat-label>Select movie</mat-label>
    <mat-select
      [(ngModel)]="selectedMovieId"
      name="movie"
      [formControl]="movieIdCtrl"
    >
      <mat-option>Clear</mat-option>
      <mat-option *ngFor="let movie of movies$ | async" [value]="movie.id">
        {{ movie.title }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="screenCtrl.hasError('required')">
      Select screen
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select screen</mat-label>
    <mat-select
      [(ngModel)]="selectedScreen"
      name="screen"
      [formControl]="screenCtrl"
    >
      <mat-option>Clear</mat-option>
      <mat-option *ngFor="let screen of screens$ | async" [value]="screen.name">
        {{ screen.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="screenCtrl.hasError('required')">
      Select screen
    </mat-error>
  </mat-form-field>

  <mat-form-field class="add-movie-form__input">
    <mat-label>Hour</mat-label>
    <input
      matInput
      type="time"
      formControlName="hour"
      placeholder="Movie hour"
    />
    <p *ngIf="this.isInvalid">Show needs to be further from another show</p>
    <mat-error *ngIf="hourCtrl.errors as errors">
      <ng-container *ngIf="errors['required']">Required</ng-container>
    </mat-error>
  </mat-form-field>
  <h3>Select tickets type</h3>
  <button
    type="button"
    (click)="addPriceListItem()"
    mat-flat-button
    color="primary"
  >
    Add another ticket type
  </button>
  <ol>
    <li
      *ngFor="
        let priceListForm of showingForm.controls.priceList.controls;
        let index = index
      "
    >
      <div [formGroup]="priceListForm">
        <mat-form-field appearance="fill">
          <mat-label>Select ticket type</mat-label>
          <mat-select name="type" [formControl]="priceListForm.controls.type">
            <mat-option *ngFor="let type of ticketTypes" [value]="type.type">
              {{ type.type }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="priceListForm.controls.type.hasError('required')"
            >Select ticket type</mat-error
          >
          <mat-error
            *ngIf="
              priceListForm.controls.type.hasError('pattern') &&
              !priceListForm.controls.type.hasError('required')
            "
          >
            Select ticket type
          </mat-error>
        </mat-form-field>

        <mat-form-field class="add-movie-form__input">
          <mat-label>Ticket cost</mat-label>
          <input
            matInput
            appNumbers
            formControlName="price"
            placeholder="Ticket price"
          />
          <mat-error *ngIf="priceListForm.controls.price.errors as errors">
            <ng-container *ngIf="errors['required']">Required</ng-container>
            <ng-container *ngIf="errors['min']">Minimum 10 PLN</ng-container>
            <ng-container *ngIf="errors['max']">Maximum 50 PLN</ng-container>
          </mat-error>
        </mat-form-field>
        <button
          class="add-show-form__trash"
          type="button"
          (click)="removePriceListItem(index)"
          mat-flat-button
        >
          X
        </button>
      </div>
    </li>
  </ol>
  <button mat-raised-button color="primary">Add new showing</button>
</form>
