<div class="movies" *ngIf="userWatchlist$ | async as movies">
  <h1>Movies on your watchlist:</h1>
  <div *ngFor="let movie of movies" class="single-movie">
    <img src="{{ movie.image }}" class="single-movie--image" />
    <div class="single-movie--body">
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.director }}</p>
      <p>{{ movie.description }}</p>
    </div>
    <button mat-raised-button color="primary" (click)="remove(this.userId, movie.id)">
      Remove from watchlist
    </button>
  </div>
</div>
<div class="movies" *ngIf="!userWatchlist$">
  <h1 class="movies--warn">No movies on your watchlist!</h1>
</div>
