<div>
  <div class="schedule">
    <button mat-button color="primary" (click)="changeWeek(-7)">
      previous week
    </button>
    <button
      mat-button
      color="primary"
      *ngFor="let day of week"
      (click)="selectDay(day)"
      [disabled]="isInPast(day)"
    >
      {{ day.getDate() }}/{{ day.getMonth() + 1 }}
    </button>
    <button mat-button color="primary" (click)="changeWeek(7)">
      next week
    </button>
    <p class="movies--date">Our schedule for {{ selectedDayDate }}</p>
  </div>
</div>
<div class="movies" *ngIf="availableMovies$ | async as movies">
  <div *ngFor="let movie of movies" class="movies--single-movie">
    <app-single-movie
      [movie]="movie"
      [day]="selectedDay.getDay().toString()"
    ></app-single-movie>
  </div>
</div>
