.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.schedule {
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid blanchedalmond;
    padding: 2em;
}