<div>
    <p>movies works!</p>
    <div class="schedule">
        <p>{{schedule(0)}}</p>
        <p>{{schedule(1)}}</p>
        <p>{{schedule(2)}}</p>
        <p>{{schedule(3)}}</p>
        <p>{{schedule(4)}}</p>
        <p>{{schedule(5)}}</p>
    </div>
</div>
<div *ngFor="let movie of movies" class="single-movie">
    <img src="{{movie.imageSource}}" class="single-movie--image">
    <p *ngIf="movie.premiere" class="premiere">Premiere</p>
    <div class="single-movie--body">
        <div>
        <h1>{{movie.title}}</h1>
        <p>{{movie.shortDescription}}</p>
        <p>{{movie.description}}</p>
        <a href="">would you like to know more?</a>
        <div class="viewings">
            <p *ngFor="let hour of movie.viewings">{{hour}}</p>
        </div>
    </div>
        <div class="single-movie--rating">
            <p>Ocena</p>
            <h2>1</h2>
            <button>buttcheek</button>
            <button>buttocks</button>
        </div>
    </div>
</div>