<div class="wrapper">
  <h2 class="title" (click)="getMeBack()">Kino Fabino, my favorite!</h2>
  <ul class="buttons">
    <li>
      <button
        mat-flat-button
        color="primary"
        *ngIf="!isLogged"
        routerLink="login"
      >
        Login
      </button>
      <button
        mat-flat-button
        *ngIf="isLogged"
        [matMenuTriggerFor]="menu"
        color="primary"
      >
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="watchlist"
          *ngIf="userRole === 'User'"
        >
          Watchlist
        </button>
        <button mat-menu-item routerLink="orders" *ngIf="userRole === 'User'">
          Tickets
        </button>
        <button mat-menu-item (click)="logoutUser()">Logout</button>
      </mat-menu>
    </li>
  </ul>
</div>
