.admin-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    margin: 1em;
}

.admin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
    padding: 2em;
    background-color: #ffcc99;
    border-radius: 10px;
}