.movietitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    font-size: 1.5em;
    gap: 1em;
    &--title {
        border-bottom: 4px solid #ffcc99;
    }
    &--info {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 1em;
    }
    .movieimage {
        max-width: 150px;
    }
}

.selector {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .tickets {
        list-style: none;
    }

}

.column{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    gap: 3px;
    padding: 3px;
    .seat {
        border: 5px solid antiquewhite;
        font-size: large;
        padding: 0.5rem;
    }
}