<div class="movietitle">
    <p>Selected movie: <span>Movie ID: {{selectedMovie}}</span></p>
    <img src="https://pbs.twimg.com/media/Es7QdxIXUAEbdqV.jpg" class="movieimage" />
</div>


<div class="selector">
    <div class="column">
        <div *ngFor="let seat of reservationService.seats" class="seat" ><a (click)="selectSeat(seat)">{{seat}}</a></div>
    </div>

    <div class="column" *ngFor="let column of columns">
        <div class="column" *ngFor="let row of columns">{{column}}{{row}}</div>
    </div>
    <!-- TODO:Zmienić sposób generowania krzeseł -->

    <ul class="tickets">Selected tickets:
        <li *ngFor="let selectedSeat of selectedSeats">{{selectedSeat}} ticket  
        <select #t (change)="changeCheckout(t.value)">
            <option selected disabled hidden>Select</option>
            <option value="30">Kid</option>
            <option value="40">Adult</option>
            <option value="20">Group</option>
        </select> to pay: {{checkout}}</li>
    </ul>
    <!-- TODO: generować po wybranych krzesłach, bilety pokazują sumę -->
    <a routerLink="form">Purchase ticket</a>
    <router-outlet></router-outlet>
</div>
