<div class="movietitle">
  <ng-container *ngIf="selectedMovie">
    <h2 class="movietitle--title">Selected movie: {{ selectedMovie.title }}</h2>
    <div class="movietitle--info">
      <img src="{{ selectedMovie.image }}" class="movieimage" />
      <p>{{ showing?.hour }}</p>
      <p>Screen: {{ showing?.screen }}</p>
    </div>
  </ng-container>
</div>

<ng-template [ngIf]="showing" [ngIfElse]="noShowing">
  <div class="selector">
    <div
      *ngIf="
        reservationService.selectedSeats.length >=
        reservationService.seatSelectionLimit
      "
    >
      <div class="error-message">You can buy at most 10 tickets!</div>
    </div>
    <div class="seatings">
      <div *ngFor="let column of columns" class="column">
        <div *ngFor="let row of reservationService.rows">
          <button
            mat-stroked-button
            [color]="this.isSeatSelected(column, row) ? 'accent' : 'primary'"
            [disabled]="this.isSeatReserved(column, row)"
            (click)="reservationService.selectSeat(column, row, showing)"
          >
            {{ column }}{{ row }}
          </button>
        </div>
      </div>
    </div>
    <div class="reservation">
      <div
        *ngFor="let ticket of reservationService.selectedTickets"
        class="reservation--ticket"
      >
        <p>Position: {{ ticket.positon }}</p>
        <p>Ticket price: {{ ticket.price }}</p>
        <mat-button-toggle-group
          name="ticketType"
          aria-label="ticket type radio"
          (change)="handleTicketPriceClick($event, ticket.positon)"
        >
          <mat-button-toggle
            *ngFor="let price of showing.priceList || []"
            [value]="price"
            [checked]="ticket.type === price.type"
            >{{ price.type }}</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
      <div
        class="reservation--total-price"
        *ngIf="reservationService.getTotalTicketPrice() as currentPrice"
      >
        <span>Total ticket price: {{ currentPrice }}</span>
      </div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="reservationService.selectedSeats.length <= 0"
        (click)="handleReservation()"
        class="reservation--purchase"
      >
        Purchase
      </button>
    </div>
  </div>
</ng-template>
<ng-template #noShowing>
  <div class="error-message">Couldn't find that show!</div>
</ng-template>
