.single-movie {
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    .single-movie--image {
        width: 200px;
        padding-right: 5px;
    }
    .single-movie--body {
        display: flex;
    }
    .single-movie--rating {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .premiere{
        position: absolute;
        
        color: red;
        background: linear-gradient(0deg, rgba(0,0,0,1) 28%, rgba(0,0,0,0) 100%);
        padding: 0 0.2em;
        margin: 0;
    }
    .viewings {
        display: flex;
        justify-content: space-around;
        background-color: ghostwhite;
        .hour-buttons {
            padding: 0.4em 0.6em;
            border: 3px solid gainsboro;
            border-radius: 10px;
            cursor: pointer;
            background-color: whitesmoke;
            transition: background-color 0.3s;

            &:hover {
                background-color: gainsboro;
            }
        }
    }
}