.single-movie {
    display: flex;
    justify-content: center;
    border: 5px solid burlywood;
    border-radius: 10px;
    margin: 30px;
    padding: 1em;
    width: 760px;
    height: 300px;
    .single-movie--info {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 0.5em;
    }
    .single-movie--image {
        width: 200px;
        margin-right: 1em;
        border: 2px solid burlywood;
    }
    .single-movie--body {
        display: flex;
    }
    .single-movie--rating {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &--premiere{
        font-size: 1.2em;        
        color: red;
    }
    .viewings {
        display: flex;
        justify-content: space-around;
        background-color: ghostwhite;
        .hour-buttons {
            padding: 0.4em 0.6em;
            border: 3px solid gainsboro;
            border-radius: 10px;
            cursor: pointer;
            background-color: whitesmoke;
            transition: background-color 0.3s;

            &:hover {
                background-color: gainsboro;
            }
        }
    }
}