<div class="user-orders-container">
  <h1>Your tickets</h1>
  <div class="user-orders" *ngFor="let order of userOrders">
    <div class="user-order">
      <h2>Order nr {{ order.id }}</h2>
      <p>{{ order.userMail }}</p>
      <p>{{ order.userName }} {{ order.userLastName }}</p>
      <p>Phone number: {{ order.userPhoneNumber }}</p>
      <p>Ordered {{ order.paidAt }}</p>
      <button mat-flat-button color="primary" [routerLink]="['/orderdetails', order.id]">order details here</button>
    </div>
  </div>
</div>
