.footer {
    display: flex;
    justify-content: space-between;
    border-top: 5px solid burlywood;
    .footer--links {
        display: flex;
        gap: 1em;
        li {
            list-style: none;
            padding-right: 1em;
            border-right: 1px solid black;
        }
        :last-child {
            border-right: none;
        }
    }
    .footer--media {
        display: flex;
        gap: 1em;
        list-style: none;
    }
}

.footer--watermark {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.715)
}