<div class="score">
  <h3>Viewer's score:</h3>
  <h2>{{ getScore(movie?.scores) }}</h2>
  <ng-container *ngIf="userId">
    <button mat-button color="primary" (click)="showScoring()">
      Score movie
    </button>
    <div class="score--select" *ngIf="scoring">
      <mat-slider
        [max]="10"
        [min]="1"
        [step]="1"
        [discrete]="true"
        color="primary"
      >
        <input matSliderThumb #t />
      </mat-slider>
      <h2>Your score:{{ t.value }}</h2>
      <button mat-button color="primary" (click)="submitScore(t.value)">
        Submit score
      </button>
    </div>
  </ng-container>
</div>
