<div class="score">
  <h3>Viewer's score:</h3>
  <h2>{{ getScore(movie?.scores) }}</h2>
  <ng-container *ngIf="userId">
    <button>Score movie</button>
    <div class="score--select">
      <mat-slider
        [max]="10"
        [min]="1"
        [step]="1"
        [discrete]="true"
        color="primary"
      >
        <input matSliderThumb #t />
      </mat-slider>
      <p>{{ t.value }}</p>
      <button (click)="submitScore(t.value)">Submit score</button>
    </div>
  </ng-container>
</div>
