<div class="login-container">
    <div class="login">
        <!-- <ng-component *ngIf="user$ | async as unpackedUser"> -->
            <h1>User id: {{(user$ | async)?.userEmail}}</h1>
        <!-- </ng-component> -->
        <!-- TODO: Wyświetlanie tego gówna -->
            <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
                <mat-form-field>
                    <mat-label>User mail</mat-label>
                    <input matInput formControlName="userEmail">
                    <mat-error *ngIf="loginForm.controls.userEmail.hasError('email') && !loginForm.controls.userEmail.hasError('required')">
                        Not an email!          
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.userEmail.hasError('required')">
                        Please fill the form          
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="userPassword">
                    <mat-error *ngIf="invalidUser ">
                        Please fill the form          
                    </mat-error>
                </mat-form-field>
                <ng-container *ngIf="invalidUser">
                    <p>Invalid name</p>
                </ng-container>
                <button class="login-btn">Zaloguj</button>
            </form>
    </div>
</div>