.login-container {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #996633;
    border-radius: 10px;
    background-color: #ffcc99;
    padding: 1em;
}