<div class="form--container">
  <div
    class="reservation--total-price"
    *ngIf="reservationService.getTotalTicketPrice() as currentPrice"
  >
    <p class="form--selected-seats">
      Selected seats:
      <span class="form--selected-seats-list">{{
        reservationService.selectedSeats.join(", ")
      }}</span>
    </p>
    <span *ngIf="!discount">Total ticket price: {{ currentPrice }}</span>
    <span *ngIf="discount">Total ticket price: {{ currentPrice - 10 }}</span>
  </div>

  <form [formGroup]="reservationForm" (ngSubmit)="submitForm()">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="userName" />
        <mat-error
          *ngIf="reservationCtrl.controls.userName.hasError('required')"
          >Required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Surname" formControlName="userLastName" />
        <mat-error
          *ngIf="reservationCtrl.controls.userLastName.hasError('required')"
          >Required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          appNumbers
          placeholder="Phone number"
          formControlName="userPhoneNumber"
        />
        <mat-error
          *ngIf="reservationCtrl.controls.userPhoneNumber.hasError('required')"
          >Required</mat-error
        >
        <mat-error
          *ngIf="reservationCtrl.controls.userPhoneNumber.hasError('minlength')"
          >Please input only 9 number</mat-error
        >
        <mat-error
          *ngIf="reservationCtrl.controls.userPhoneNumber.hasError('maxlength')"
          >Please input only 9 number</mat-error
        >
        <mat-error
          *ngIf="reservationCtrl.controls.userPhoneNumber.hasError('pattern')"
          >Only numbers!</mat-error
        >
      </mat-form-field>

      <button mat-button color="primary" (click)="addInvoice()">
        Add invoice
      </button>

      <div
        class="form__invoice"
        formGroupName="userInvoiceForm"
        *ngIf="invoice"
      >
        <mat-form-field>
          <input
            matInput
            appNumbers
            placeholder="NIP"
            formControlName="userNIP"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="userStreet" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Post code"
            formControlName="userPostCode"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="userCity" />
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput placeholder="E-Mail" formControlName="userMail" />
        <mat-error
          *ngIf="reservationCtrl.controls.userMail.hasError('required')"
          >Required</mat-error
        >
        <mat-error *ngIf="reservationCtrl.controls.userMail.hasError('email')"
          >Not an email</mat-error
        >
      </mat-form-field>
      <p><input type="checkbox" />I want to recieve information about sales</p>
      <button mat-raised-button color="primary">Submit!</button>
    </div>
  </form>

  <form [formGroup]="discountForm" class="form">
    <mat-form-field>
      <input
        matInput
        placeholder="Promotion code"
        formControlName="discountCode"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="reducePrice()"
      [disabled]="discount"
    >
      I have discount code
    </button>
    <p *ngIf="discount">Discount code used!</p>
  </form>

  <form
    *ngIf="isBlikVisible"
    [formGroup]="blikForm"
    (ngSubmit)="submitBlik()"
    class="blik"
  >
    <img src="https://www.blik.com/layout/default/dist/gfx/logo/logo.svg" />

    <mat-form-field>
      <input
        matInput
        appNumbers
        placeholder="BLIK"
        formControlName="blikNumber"
      />
      <mat-error *ngIf="blikCtrl.controls.blikNumber.hasError('required')"
        >Required</mat-error
      >
      <mat-error
        *ngIf="
          blikCtrl.controls.blikNumber.hasError('minlength') ||
          blikCtrl.controls.blikNumber.hasError('maxlength')
        "
        >6 numbers please</mat-error
      >
      <mat-error *ngIf="blikCtrl.controls.blikNumber.hasError('pattern')"
        >Invalid input</mat-error
      >
    </mat-form-field>
    <div *ngIf="reservationService.getTotalTicketPrice() as currentPrice">
      <h2 *ngIf="!discount">Total ticket price: {{ currentPrice }}</h2>
      <h2 *ngIf="discount">Total ticket price: {{ currentPrice - 10 }}</h2>
    </div>
    <button mat-raised-button>Pay for tickets</button>
  </form>
</div>
