<p>Selected seats:</p>

<form [formGroup]="reservationForm" (ngSubmit)="submitForm()">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="firstName">
        <mat-error *ngIf="reservationCtrl.controls.firstName.hasError('required')">To pole jest obowiązkowe</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Surname" formControlName="surname">
        <mat-error *ngIf="reservationCtrl.controls.surname.hasError('required')">To pole jest obowiązkowe</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone number" formControlName="phone">
        <mat-error *ngIf="reservationCtrl.controls.phone.hasError('required')">To pole jest obowiązkowe</mat-error>
        <mat-error *ngIf="reservationCtrl.controls.phone.hasError('minlength')">Too short!</mat-error>
      </mat-form-field>
      
        <input placeholder="Phone number" formControlName="phone">
        <ng-container *ngIf="reservationCtrl.controls.phone.errors as errors">
            <ng-container *ngIf="reservationCtrl.controls.phone.touched">
              <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
              <p *ngIf="errors['minlength'] as milLength">
                Podałeś {{ milLength.actualLength }} znaki, minimum to
                {{ milLength.requiredLength }}
              </p>
            </ng-container>
          </ng-container>
        <input placeholder="E-Mail" formControlName="email">
        <input placeholder="Confirm E-Mail" formControlName="confirmEmail">
        <div *ngIf="emailsMatchValidatorError()">
            Email error!
        </div>
        <p><input type="checkbox">I want to recieve information about sales</p>
        <input placeholder="Promotion code">
        <button>Submit!</button>
    </div>
</form>
