<div class="single-movie" *ngIf="movie">
    <img src="{{movie.image}}" class="single-movie--image">
    <p *ngIf="movie.premiere" class="premiere">Premiere</p>
    <div class="single-movie--body">
        <div>
        <h1>{{movie.title}}</h1>
        <p>{{movie.genre}}</p>
        <p *ngIf="clickedMore">{{movie.description}}</p>
        <a (click)="tellMeMore()">would you like to know more?</a>
        <div class="viewings">
            <button *ngFor="let showing of showings" [routerLinkActive]="['active']" routerLink="/reservation/{{showing.hour}}/{{movie.id}}" class="hour-buttons" (click)="handleSelectedMovie(showing)">{{showing.hour}}</button>
        </div>
    </div>
        <div class="single-movie--rating">
            <h3>Viewer's score:</h3>
            <h2>{{getScore(movie.score)}}</h2>
                <button>buttcheek</button>
                <button>buttocks</button>
    </div>
</div>

<div *ngIf="!movie">
    Coś poszło nie tak :(
</div>
