<div class="wrapper">
  <form [formGroup]="newMovieForm" (submit)="submitForm()" class="movie-form">
    <h1>Add movie</h1>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image url</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select formControlName="genre">
        <mat-option *ngFor="let genre of genres" [value]="genre">{{
          genre
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Length</mat-label>
      <input matInput formControlName="length" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Age restriction</mat-label>
      <mat-select formControlName="ageRest">
        <mat-option *ngFor="let age of ages" [value]="age">{{
          age
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Director</mat-label>
      <input matInput formControlName="director" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Actors</mat-label>
      <mat-chip-grid #chipGrid formControlName="actors">
        <mat-chip-row
          *ngFor="let actor of actors"
          (removed)="removeActor(actor)"
        >
          {{ actor }}
          <button matChipRemove label="'remove ' + actor">X</button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        placeholder="New actor"
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Box office</mat-label>
      <input matInput formControlName="boxOff" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Days shown</mat-label>
      <mat-select formControlName="dateIds" multiple>
        <mat-option *ngFor="let day of dayNames" [value]="day.id">{{
          day.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="premiere">Premiere</mat-checkbox>
    <button mat-raised-button color="primary">Add new movie</button>
  </form>
</div>
